
  <h1>{{ title }}</h1>
  <nav class="navbar navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <!-- <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active">Home</a>
        </li> -->
        <li class="nav-item">
          <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active">Dashboard</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/heroes']" routerLinkActive="router-link-active">Heroes</a>
        </li>
    </ul>
  </nav>
  <!-- <app-heroes></app-heroes> -->

  <!-- The RouterOutlet is one of the router directives
  that became available to the AppComponent because
  AppModule imports AppRoutingModule which exported RouterModule. -->
  <router-outlet></router-outlet>

